__pycache__/
*.pyc
bot.log
.idea/
.vscode/

# Dynamics 365 Business Central (if any)
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.bclicense
*.flf
TestResults.xml

# Bot Configs & Backups
config.json
latest_ai_analysis.json
config_backup.json
